.bet-row {
    
    &--light {
        background-color: rgb(255, 255, 255);

    }
    &--dark {
        background-color: rgb(223, 223, 223);
       
    }
}

.odds-popover {
  .popover-body {
    height: 300px;
    min-width: 176px;
  }
}

.text-small {
    font-size: 0.7rem;
}

footer {
    background-color: rgb(255,255,255);
}

body {
    padding-top: 10px;
    padding-bottom: 122px;
}

input:invalid {
    border: 1px solid red;
}

.BarChart {
  background-color: var(--color-primary);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow:hidden;
}

.BarData {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PercentText {
  color: var(--color-primary-offWhite);
  font-weight: 700;
}

